<p id="notice"><%= notice %></p>
<body style="background-color:lightgrey">
<h1 align="center"><U>List Of Customers<hr></U></h1>
<br> <br><br><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th><th>Customer Id</th></th>
      <th><th>Address</th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
       <td><%= customer.name %></td>
        <td><td><%= customer.customerid %></th></td>
        <td><th><%= customer.address %></th></td>
        <td><th><%= link_to 'Show', customer %></th></td>
        <td><th><%= link_to 'Edit', edit_customer_path(customer) %></th></td>
        <td><%= link_to'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Customer', new_customer_path %>
<br>
<%= link_to 'Back Inventory Home', controller: 'inventories' %>

<Html>
<Body>
<Marquee>
<%= link_to 'Back Inventory Home', controller: 'inventories' %>
</Html>
</Body>
</Marquee>
